#principal {
  border: 2px solid black;
  height: 800px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}
button {
  background-color: grey;
  font-size: x-large;
}

.secciones {
  background-color: rgb(98, 94, 94);
  border: 2px solid black;
  padding: 15px;
}

.calculos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

section > button {
  background-color: rgb(210, 210, 234);
}
.calculos > input {
  text-align: right;
}
.calculos > input#entrada {
  font-size: xx-large;
  background-color: white;
}
.calculos > input#memoria {
  font-size: small;
}
