#principal {
  height: 800px;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}
button {
  font-size: x-large;
}

.secciones {
  border: 1px solid black;
  padding: 15px;
}

.calculos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

#benormales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#bespeciales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.calculos > input {
  text-align: right;
}
.calculos > input#entrada {
  font-size: xx-large;
  background-color: white;
}
.calculos > input#memoria {
  font-size: small;
}

.botones > div#bespeciales > button {
  background-color: rgb(241, 235, 235);
}

.botones > div#benormales > button {
  background-color: rgb(219, 216, 216);
}
